<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
    <add key="MySqlServer" value="dinov-mysql" />
    <add key="MySqlUsername" value="root" />
    <add key="MySqlPassword" value="pass2468" />
    <add key="MySqlDatabase" value="python_test_db" />
    
    <add key="AZURE_STORAGE_ACCOUNT" value="fromage0121" />
    <add key="AZURE_STORAGE_ACCESS_KEY" value="fx6PBkA2D21oviUQHu0CZ2z+p0pBIKypesxKefDGk4uj5Gpz+4Gvt6bZRlbFv05GWyBLUqvSNEYSaukShcbC8w==" />

    </appSettings>

    <system.webServer>
        <!--<handlers>
            <remove name="Python_via_FastCGI" />
            <add name="Python_via_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\inetpub\wwwroot\Python\python.exe|D:\inetpub\wwwroot\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>-->
        <tracing>
            <traceFailedRequests>
                <remove path="*" />
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>
